@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900');
.correioscelular {

  --font-family: Montserrat, Tahoma, monospace !important;

  --primary-100: #ffefb3;
  --primary-200: #ffe580;
  --primary-300: #ffda4d;
  --primary-400: #ffd226;
  --primary-500: #ffca00;
  --primary-600: #ffc500;
  --primary-700: #ffbd00;
  --primary-800: #ffb700;
  --primary-900: #ffab00;
  --primary-A100: #ffffff;
  --primary-A200: #fffaf2;
  --primary-A400: #ffe7bf;
  --primary-A700: #ffdea6;
  --primary-contrast-50: #000000;
  --primary-contrast-100: #000000;
  --primary-contrast-200: #000000;
  --primary-contrast-300: #000000;
  --primary-contrast-400: #000000;
  --primary-contrast-500: #ffffff;
  --primary-contrast-600: #000000;
  --primary-contrast-700: #000000;
  --primary-contrast-800: #000000;
  --primary-contrast-900: #000000;
  --primary-contrast-A100: #000000;
  --primary-contrast-A200: #000000;
  --primary-contrast-A400: #000000;
  --primary-contrast-A700: #000000;
  --accent-100: #b3c5d3;
  --accent-200: #809eb6;
  --accent-300: #4d7798;
  --accent-400: #265982;
  --accent-500: #003c6c;
  --accent-600: #003664;
  --accent-700: #002e59;
  --accent-800: #00274f;
  --accent-900: #001a3d;
  --accent-A100: #739eff;
  --accent-A200: #407bff;
  --accent-A400: #0d58ff;
  --accent-A700: #004bf2;
  --accent-contrast-50: #000000;
  --accent-contrast-100: #000000;
  --accent-contrast-200: #000000;
  --accent-contrast-300: #ffffff;
  --accent-contrast-400: #ffffff;
  --accent-contrast-500: #ffffff;
  --accent-contrast-600: #ffffff;
  --accent-contrast-700: #ffffff;
  --accent-contrast-800: #ffffff;
  --accent-contrast-900: #ffffff;
  --accent-contrast-A100: #000000;
  --accent-contrast-A200: #ffffff;
  --accent-contrast-A400: #ffffff;
  --accent-contrast-A700: #ffffff;
  --warn-100: #fbd5d5;
  --warn-200: #f9baba;
  --warn-300: #f69e9e;
  --warn-400: #f48989;
  --warn-500: #f27474;
  --warn-600: #f06c6c;
  --warn-700: #ee6161;
  --warn-800: #ec5757;
  --warn-900: #e84444;
  --warn-A100: #ffffff;
  --warn-A200: #ffffff;
  --warn-A400: #ffd5d5;
  --warn-A700: #ffbcbc;
  --warn-contrast-50: #000000;
  --warn-contrast-100: #000000;
  --warn-contrast-200: #000000;
  --warn-contrast-300: #000000;
  --warn-contrast-400: #000000;
  --warn-contrast-500: #000000;
  --warn-contrast-600: #000000;
  --warn-contrast-700: #000000;
  --warn-contrast-800: #000000;
  --warn-contrast-900: #ffffff;
  --warn-contrast-A100: #000000;
  --warn-contrast-A200: #000000;
  --warn-contrast-A400: #000000;
  --warn-contrast-A700: #000000;

  --toolbar-color: var(--primary-A100);
  --toolbar-background-color:  var(--primary-900);
}
