.magamais {
  --font-family: Arial, Tahoma, monospace !important;

  --primary-100: #b3dbff;
  --primary-200: #80c3ff;
  --primary-300: #4daaff;
  --primary-400: #2698ff;
  --primary-500: #0086ff;
  --primary-600: #007eff;
  --primary-700: #0073ff;
  --primary-800: #0069ff;
  --primary-900: #0056ff;
  --primary-A100: #ffffff;
  --primary-A200: #f2f6ff;
  --primary-A400: #bfd1ff;
  --primary-A700: #a6beff;
  --primary-contrast-50: #000000;
  --primary-contrast-100: #000000;
  --primary-contrast-200: #000000;
  --primary-contrast-300: #000000;
  --primary-contrast-400: #000000;
  --primary-contrast-500: #ffffff;
  --primary-contrast-600: #ffffff;
  --primary-contrast-700: #ffffff;
  --primary-contrast-800: #ffffff;
  --primary-contrast-900: #ffffff;
  --primary-contrast-A100: #000000;
  --primary-contrast-A200: #000000;
  --primary-contrast-A400: #000000;
  --primary-contrast-A700: #000000;
  --accent-100: #f4c7e5;
  --accent-200: #eda2d3;
  --accent-300: #e67cc1;
  --accent-400: #e060b4;
  --accent-500: #db44a7;
  --accent-600: #d73e9f;
  --accent-700: #d23596;
  --accent-800: #cd2d8c;
  --accent-900: #c41f7c;
  --accent-A100: #fffcfd;
  --accent-A200: #ffc9e6;
  --accent-A400: #ff96ce;
  --accent-A700: #ff7cc2;
  --accent-contrast-50: #000000;
  --accent-contrast-100: #000000;
  --accent-contrast-200: #000000;
  --accent-contrast-300: #000000;
  --accent-contrast-400: #000000;
  --accent-contrast-500: #ffffff;
  --accent-contrast-600: #ffffff;
  --accent-contrast-700: #ffffff;
  --accent-contrast-800: #ffffff;
  --accent-contrast-900: #ffffff;
  --accent-contrast-A100: #000000;
  --accent-contrast-A200: #000000;
  --accent-contrast-A400: #000000;
  --accent-contrast-A700: #000000;
  --warn-100: #ffdab3;
  --warn-200: #ffc180;
  --warn-300: #ffa84d;
  --warn-400: #ff9526;
  --warn-500: #ff8200;
  --warn-600: #ff7a00;
  --warn-700: #ff6f00;
  --warn-800: #ff6500;
  --warn-900: #ff5200;
  --warn-A100: #ffffff;
  --warn-A200: #fff6f2;
  --warn-A400: #ffd0bf;
  --warn-A700: #ffbda6;
  --warn-contrast-50: #000000;
  --warn-contrast-100: #000000;
  --warn-contrast-200: #000000;
  --warn-contrast-300: #000000;
  --warn-contrast-400: #000000;
  --warn-contrast-500: #000000;
  --warn-contrast-600: #000000;
  --warn-contrast-700: #000000;
  --warn-contrast-800: #000000;
  --warn-contrast-900: #ffffff;
  --warn-contrast-A100: #000000;
  --warn-contrast-A200: #000000;
  --warn-contrast-A400: #000000;
  --warn-contrast-A700: #000000;

  --toolbar-color: var(--primary-contrast-500);
  --toolbar-background-color:  var(--primary-500);
}