@import '../theme/mat_overrides.scss';

// .surf-logo {
//   font-family: 'philly_sansregular';
//   font-size: 28px;
// }

.logo {
  max-height: 36px;
  max-width: 48vw;
}

// .mat-tab-nav-bar {
//   z-index: 9999;
//   position: fixed !important;
//   background: white !important;
// }

.mat-tab-label-active {
  color: map-get($md-accent, 500);
}

.example-spacer {
  flex: 1 1 auto;
}

.selected-tab {
  opacity: 1 !important;
}

mat-sidenav {
  width: 46vw;
}

mat-sidenav-container {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.menu-card {
  border-radius: 0px;
  box-shadow: 0px 0px !important;
  background-color: map-get($md-primary, 500);
  mat-card-title {
    text-align: center;
    margin-top: 5px;
    font-size: 1.2rem;
    color: map-get(map-get($md-primary, contrast), 500);
  }

  .header-image {
    //background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-image: url('/assets/imgs/avatar.png');
    background-size: cover;
    height: 14vh;
    width: 14vh;
    margin: auto;
  }  
}

.active-link {
  background: map-get($md-primary, A400) !important;
  text-decoration: underline;
  //color: map-get(map-get($md-secondary, contrast), 500) !important;
}

.mat-toolbar-multiple-rows {
  min-height: 56px !important;
  max-height: 56px !important;
}