<!-- <h1 class="mat-h1">Cadastrar com</h1> -->
<div class="buttons">
  <button mat-raised-button class="google">GOOGLE</button>
  <button mat-raised-button class="facebook">FACEBOOK</button>
  <button mat-raised-button color="accent">EMAIL</button>
</div>
<p class="terms">
  Ao cirar sua conta, você concorda com os
  <a mat-button routerLink="/privacidade" color="primary"
    >Termos de uso e política de privacidade</a
  >
</p>
<div class="login">
  <a mat-button routerLink=".">JÁ TEM CONTA? FAÇA LOGIN</a>
</div>
