<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="surf-logo">Surf Telecom</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-tab-group color="accent">
  <mat-tab>
    <ng-template class="lala" mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
      <span>Ofertas</span>
    </ng-template>
    Content 
  </mat-tab>

  <mat-tab>
    <ng-template class="lala" mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
      Pacotes
    </ng-template>
    Content 2
  </mat-tab>

  <mat-tab>
    <ng-template class="lala" mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
      Vantagens
    </ng-template>

    Content 3
    <doiv class="test">
        Funciona
    </doiv>
  </mat-tab>
</mat-tab-group> -->

<div class="content">
  <!-- LOADING AND NO DATA -->
  <div *ngIf="(contents$ | async)?.length > 0; else nodata"></div>
  <ng-template #nodata>
    <div *ngIf="(contents$ | async)?.length == 0; else loading">
      Display empty
    </div>
    <ng-template #loading>
      <p>Loading</p>
    </ng-template>
  </ng-template>
  <!-- END LOADING AND NO DATA -->

  <!-- CONTENT -->
  <div class="offers">
    <div *ngFor="let offer of contents$ | async; let i = index">
      <mat-card class="offer-card">
        <mat-card-header>
          <mat-card-title>{{ offer.title }}</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <!-- <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      /> -->
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <!-- END CONTENT -->
</div>
