// .example-tab-icon {
//   margin-right: 8px;
// }

:host .mat-tab-label-content {
    display: grid !important;
    justify-items: center !important;
}
// .mat-tab-label {
//     width: 500px;
// }

.surf-logo {
    font-family: 'philly_sansregular';
    font-size: 28px;
}