html,
body {
  margin: 0;
}
body {
  margin: 0;
  height: calc(100vh - 56px);
}

app-root {
  font-family: var(--font-family) !important;
}

.mat-tab-labels, .mat-tab-links {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;

  mat-icon {
    align-self: end;
  }

  .mat-badge-content {
    top: -8px !important;
    right: -30px !important;
  }
}

.mat-tab-label-content, .mat-tab-link {
  display: grid !important;
  justify-items: center !important;
  height: 60px !important;
}

@import './src/theme/mat_overrides.scss';
